
/* 全体の基礎設定 */
:root {
  --base-color: #EEF9FF;
  --main-color: #8AD0FF;
  --sub-color: #CFECFF;
  --accent-color: #FC9D9D;
  --text-color: #333333;
}
body {
  background-color: var(--base-color);
  padding: 0;
  margin: 0;
  font-family: 'YakuHanJP_Narrow', 'Zen Kaku Gothic New', 'Yu Gothic', sans-serif;
  color: var(--text-color);
  font-size: clamp(16px, 3vw, 18px);
}
h1 {
  font-size: clamp(55px, 5vw, 90px);
}
.title {
  max-width: 1280px;
  margin: 0 auto 100px;
  position: relative;
  padding-left: 220px;
  font-size: clamp(30px, 4vw, 40px);
  letter-spacing: 0.2em;
}
.title::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 50px;
  width: 150px;
  height: 2px;
  background-color: var(--text-color);
}
h3 {
  font-size: clamp(25px, 3vw, 30px);
  margin: 0;
}
span {
  color: var(--accent-color);
  font-size: clamp(12px, 2.5vw, 16px);
  /* font-size: 1vw; */
}
.omake {
  color: var(--main-color);
  font-size: clamp(12px, 2.5vw, 16px);
}
.space {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/* マウスストーカー */
#mouseStalker {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(50vw, 50vh, 0);
  z-index: 100;
  pointer-events: none;
  transition: all 0.3s ease-out;
  mix-blend-mode: difference;
  display: none;
}
#mouseStalkerImg {
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  filter: invert(100%);
}

/* ローディング */
#loading {
  background-color: var(--main-color);
  position: fixed;
  z-index: 9999;
  inset: 0;
  display: grid;
  place-items: center;
}
#loading p {
  font-size: 5vw;
}
#loadingScreen {
  background-color: var(--accent-color);
  position: fixed;
  inset: 0;
  z-index: 9998;
  translate: 0 100vh;
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30vw;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
#loader {
  border: 5px solid var(--sub-color);
  border-radius: 50%;
}
#loader:after {
  position: absolute;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  content: '';
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
  border: 30px solid transparent;
  border-top-color: var(--accent-color);
  border-radius: 50%;
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ヘッダー */
#header {
  width: 100%;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(252, 157, 157, 0.3);
  transition: 1.0s;
}
#header:hover {
  background-color: rgba(138, 208, 255, 0.9);
  transition: .4s;
}

/* ロゴ */
#logo {
  margin-left: 20px;
}
#logo a {
  color: var(--base-color);
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
  font-size: 1.3rem;
  text-shadow: 1px 1px 1px var(--text-color);
}
#logo a:hover {
  color: var(--accent-color);
  transition: .4s;
}

/* ナビゲーションボタン */
.menuBtn {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 20px;
  z-index: 10;
}
.menuBtn span {
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: var(--text-color);
  transition: .4s;
  box-sizing: border-box;
  position: absolute;
  left: 0;
}
.menuBtn span:nth-of-type(1) {
  background-color: var(--accent-color);
  top: 0;
}
.menuBtn span:nth-of-type(2) {
  top: 45%;
}
.menuBtn span:nth-of-type(3) {
  bottom: 0;
}
.menuBtn.active span:nth-of-type(1) {
  transform: translateY(22px) rotate(-45deg);
}
.menuBtn.active span:nth-of-type(2) {
  opacity: 0;
}
.menuBtn.active span:nth-of-type(3) {
  transform: translateY(-22px) rotate(45deg);
}
.menuBack {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgba(138, 208, 255, 0.7);
  transform: translateY(-100vh);
  transition: .3s;
  opacity: 0;
}
.menuBack.active {
  transform: translateY(0);
  opacity: 1;
}

/* ナビゲーションメニュー */
#nav {
  z-index: 10;
  margin-right: 20px;
  margin-bottom: 20px;
}
#nav li {
  width: 150px;
  float: left;
  list-style: none;
  text-align: center;
}
#nav li a {
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}
#nav li a:hover {
  color: var(--accent-color);
  transition: 0.3s;
}

/* メインヴィジュアル */
#mainVisual {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  object-fit: cover;
  animation: jfchange 20s ease infinite;
}
#mainText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--base-color);
  text-shadow: 2px 2px 5px var(--text-color);
}
#mainText h1, #mainText p {
  margin: 0;
}
@keyframes jfchange {
  0% {filter:hue-rotate(0deg);}
  25% {filter:hue-rotate(90deg);}
  50% {filter:hue-rotate(180deg);}
  75% {filter:hue-rotate(270deg);}
  100% {filter:hue-rotate(360deg);}
}
#headerWave {
  transform: translate(0, -85%);
}

/* ウェブサイト */
.web {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.web:nth-child(even) {
  flex-direction: row-reverse;
}
.web:nth-child(even) .webText {
  padding-left: 2vw;
  padding-right: 5vw;
}
.webEyecatch img {
  width: 100%;
}
.webText {
  padding-left: 5vw;
  padding-right: 2vw;
  width: 150rem;
}
.webText span {
  /* color: var(--accent-color); */
  /* font-size: small; */
}

/* デザイン */
#designWorks {
  background-color: var(--sub-color);
  padding: 150px 0;
}
.designEyecatch {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.designEyecatch::-webkit-scrollbar {
  background-color: var(--sub-color);
  border-radius: 5px;
}
.designEyecatch::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 5px;
}
.design {
  min-width: 100px;
  width: 100px;
  height: 100px;
  padding: 10px;
}
.designImage {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.design img {
  display: block;
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
  box-shadow: 0 5px 10px 0 rgba(32, 53, 39, 0.3);
}
.design img:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.designText {
  display: none;
}
.designMain {
  margin-top: 10px;
  text-align: center;
}
.designMain img {
  width: 100%;
  height: 50%;
  /* height: 60vh; */
  max-width: 900px;
  /* max-height: 60vh; */
  margin-bottom: 20px;
  object-fit: cover;
  /* aspect-ratio: auto; */
}
.designMainText {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.designMainText span {
  /* color: var(--accent-color); */
}

/* 自分について */
#profile {
  padding: 150px 0;
}
.intro {
  max-width: 900px;
  margin: 0 auto 30px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.intro img {
  max-width: 500px;
  width: 100%;
}
.aboutText {
  max-width: 450px;
  line-height: 2em;
}
.aboutText span {
  /* color: var(--accent-color); */
  /* font-size: 13px; */
}

/* スキル */
#skillSpace {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  /* flex-direction: column-reverse; */
}
.skill {
  position: relative;
  min-width: 200px;
}
.skill svg {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(-90deg);
}
/* 直径160*3.15=502 */
.skill svg circle {
  position: relative;
  fill: none;
  stroke-width: 20;
  stroke: var(--sub-color);
  stroke-dasharray: 502;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  cx: 100;
  cy: 100;
  r: 80;
}
.skill svg circle.line {
  /* stroke: var(--accent-color); */
  /* animation: circleAnim 1s forwards; */
}
.skill svg circle.lineSkill {
  stroke: var(--accent-color);
  animation: circleAnim 1s forwards;
  /* animation-delay: 1s; */
}
.skill svg circle.lineSkill10 {
  stroke-dashoffset: calc(502 - (502 * 10) / 100);
}
.skill svg circle.lineSkill20 {
  stroke-dashoffset: calc(502 - (502 * 20) / 100);
}
.skill svg circle.lineSkill30 {
  stroke-dashoffset: calc(502 - (502 * 30) / 100);
}
.skill svg circle.lineSkill40 {
  stroke-dashoffset: calc(502 - (502 * 40) / 100);
}
.skill svg circle.lineSkill50 {
  stroke-dashoffset: calc(502 - (502 * 50) / 100);
}
.skill svg circle.lineSkill60 {
  stroke-dashoffset: calc(502 - (502 * 60) / 100);
}
.skill svg circle.lineSkill70 {
  stroke-dashoffset: calc(502 - (502 * 70) / 100);
}
.skill svg circle.lineSkill80 {
  stroke-dashoffset: calc(502 - (502 * 80) / 100);
}
.skill svg circle.lineSkill90 {
  stroke-dashoffset: calc(502 - (502 * 90) / 100);
}
.skillLevel {
  position: absolute;
  top: 6%;
  left: 35%;
  font-size: 3rem;
  font-weight: bold;
}
.skillLevel span {
  font-size: 1.5rem;
  color: var(--text-color);
}
.skillTitle {
  text-align: center;
}
.skillTitle p {
  margin-top: 0;
}
@keyframes circleAnim {
  0% {
    stroke-dasharray: 0 502;
  }
  100%, to {
    stroke-dasharray: 502 502;
  }
}

/* ツールチップ */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer; /* カーソルを当てたときにポインターに */
  /* z-index: 1; */
}
.tooltipText {
  opacity: 0; /* はじめは隠しておく */
  visibility: hidden; /* はじめは隠しておく */
  position: absolute; /* 絶対配置 */
  left: 50%; /* 親に対して中央配置 */
  transform: translateX(-50%); /* 親に対して中央配置 */
  top: 250px; /* 親要素下からの位置 */
  display: inline-block;
  width: 200px;
  background-color: var(--main-color);
  color: white;
  border-radius: 6px;
  padding: 0.4em 0.5em;
  line-height: 1.3;
  border: dashed 2px white;
  box-shadow: 0px 0px 0px 6px var(--main-color);
  font-size: 0.8rem; /* フォントサイズ */
  transition: 0.3s ease-in; /* アニメーション */
  z-index: 5;
}
.tooltip:hover .tooltipText {
  opacity: 1;
  visibility: visible;
}

/* フッター波 */
.footerWave {
  display: flex;
  overflow: hidden;
  width: 100%;
}

/* フッター */
#footer {
  position: relative;
  width: 100%;
  height: 25vw;
  background-color: var(--sub-color);
  z-index: -1;
}
#footer p { 
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  margin: 0;
}
#footer p span {
  font-size: 1.2em;
}

/* レスポンシブ */
@media screen and (max-width: 999px) {
  h1 {
    font-size: clamp(50px, 8vw, 90px);

  }
  .title {
    margin-bottom: 50px;
    padding-left: 80px;
    letter-spacing: 0.2em;
  }
  .title::before {
    width: 70px;
    left: 0;
  }

  .menuBtn {
    display: inline-block;
  }
  .menuBack {
    display: block;
  }
  #nav {
    display: none;
    opacity: 0;
  }
  #nav.active {
    position: fixed;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 15%;
    align-items: center;
    transition: .4s;
    opacity: 1;
  }
  #nav.active ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-wrap: nowrap;
    font-size: 2rem;
  }
  #nav.active ul li {
    width: auto;
    margin-bottom: 15px;
    text-align: center;
  }
  .web {
    flex-wrap: wrap;
  }
  .webText, .web:nth-child(even) .webText {
    padding: 0 50px;
  }
  .aboutText {
    padding: 0 50px;
  }
  .intro {
    flex-flow: column;
  }

}

/* ホバーアクションをPCだけにしたい場合、←のメディアクエリで囲む */
@media (hover: hover) and (pointer: fine) {
  #mouseStalker {
    display: block;
  }
}